absl-py
ansitable
astroid
cachetools
certifi
cffi
chardet
cloudpickle
colored
cycler
Cython
dataclasses
fasteners
future
glfw
google-auth
google-auth-oauthlib
grpcio
gym
h5py
idna
imageio
isort
kiwisolver
Klampt
lazy-object-proxy
llvmlite
Markdown
matplotlib
mccabe
monotonic
mpmath
numba
numpy
numpy-quaternion
oauthlib
pandas
pgraph-python
Pillow
protobuf
pyasn1
pyasn1-modules
pycparser
pyglet
pylint
pyparsing
python-dateutil
pytz
PyYAML
qpsolvers
quadprog
Quaternion
requests
requests-oauthlib
roboticstoolbox-python
rsa
rtb-data
scipy
seaborn
six
spatialmath-python
swift-sim
sympy
tensorboard
tensorboard-plugin-wit
toml
transforms3d
typing-extensions
urllib3
websockets
Werkzeug
wrapt
----------
git+https://github.com/DLR-RM/stable-baselines3
git+https://github.com/hermanjakobsen/mujoco-py
git+https://github.com/hermanjakobsen/robosuite
torch==1.9.0+cpu
torchvision==0.10.0+cpu
torchaudio==0.9.0
-f https://download.pytorch.org/whl/torch_stable.html
